<!doctype html>
<html>
<head>
    <title>Bestlink Bookshop</title>
</head>
<body>
    <h1>Product List</h1>
    <a href="{{ url_for('main.add_product') }}">Add New Product</a>
    <table border="1" cellpadding="6">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>Supplier</th>
            <th>Price (HUF)</th>
            <th>Local Stock</th>
            <th>Gardners</th>
        </tr>
        {% for p in products %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ p[3] }}</td>
            <td>{{ p[4] }}</td>
            <td>{{ p[5] }}</td>
            <td>{{ p[6] }}</td>
            <td>{{ p[7] }}</td>
            <td>{{ p[8] }}</td>
            <td>{{ p[9] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
